# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages in Data Science
- Libraries used in Data science
- List of Data Science Tools
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

|Data Science Tools|
|------------------|
|MySQL|
|PostgreSQL|
|Cassandra|

# H3: Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

# H2: Author: 
Aravindhan Tamilarasan